mixin CategoryCardLoadingPlaceholder

  .CategoryCard&attributes(attributes)

    .CategoryCard-NameLabel--LoadingPlaceholder

    .CategoryCard-Button.CategoryCard-Button__LoadingPlaceholder
    .CategoryCard-Button.CategoryCard-Button__LoadingPlaceholder
