-
  const CategoriesManagerStatesSimulations = {
    loading: false,
    loadingError: false,
    noItems: false,
    noSearchResults: false,
    noPagination: false,
    simulateLoadingStateIf(flag){ if (!flag) { return this; } this.loading = true; return this; },
    simulateLoadingErrorStateIf(flag){ if (!flag) { return this; } this.loadingError = true; return this; }
  }


mixin CategoriesManager(stateSimulations)

  - stateSimulations = stateSimulations || CategoriesManagerStatesSimulations


  .CategoriesManager&attributes(attributes)

    +SearchBox({
      placeholder: "Category name",
      ARIA_Label: "Input the name of desired category",
      disabled: stateSimulations.loading
    }).CategoriesManager-SearchBox

    if stateSimulations.loading

      .CategoriesManager-CardsFlow
        each emptyElement in new Array(5)
          .CategoriesManager-TemporaryLoadingPlaceholder

    else if stateSimulations.loadingError

      .CategoriesManager-AlertBox

      //-
        +AttentionBox({
          decoration: AttentionBox.DecorativeVariations.error,
          hasPrependedSVG_Icon: true,
        }).CategoriesManager-ErrorMessage.
          受信中不具合が発生致しました。御詫び申し上げます。原因はインターネット接続喪失ではなければ、開発側に通知が送信され、可能な限り対策を御取り致します。
          御迷惑をおかけ致しまして、誠に申し訳御座いません。

    else if stateSimulations.noItems

      .CategoriesManager-AlertBox 現在、商品カテゴリーが一件も登録されていない状態です。
      //- Button 商品カテゴリーを追加する


    else if stateSimulations.noSearchResults

      .CategoriesManager-NoItemsMessage 検索要求と合っている商品カテゴリーは登録されていません。
      //- Button 全カテゴリーを表示

    else

      div

      //-

        +AttentionBox({
          decoration: AttentionBox.DecorativeVariations.guidance,
          hasPrependedSVG_Icon: true,
        }).CategoriesManager-Guidance 関連商品を御覧に成るには商品カテゴリーを御選び下さい。

        .CategoriesManager-CardsFlow
          each productCategory in mockProductsCategories
            +CategoryCard(productCategory)

        if !stateSimulations.noPagination
          +Pagination().CategoriesManager-Pagination


        .CategoriesManager-ProductCategoryEditingPanel

          .CategoriesManager-ProductCategoryEditingPanel-Heading カテゴリーを追加する

          +InputField({
            placeholder: "カテゴリー名",
            ARIA_Label: "新しいカテゴリーの名前",
          }).CategoriesManager-ProductCategoryEditingPanel-InputField

          +Button({
            disabled: stateSimulations.loading,
            decoration: Button.DecorativeVariations.accented
          }) 追加

          +Button({
            disabled: stateSimulations.loading
          }) 編集停止
