include HelloWorldTutorialPage.toc.pug


-

  localizedRouting.tutorials.$children.helloWorld.$sectioning =

      generatePageTableOfContents(
        (() => {

          /* [ Maintainability ] Keep this constant to make able the copying of qualified names in IntelliJ IDEA IDEs. */
          const localizedStrings = {
            preRequirements: { $heading: "事前に必要な知識・熟練" },
            projectRollout: { $heading: "Node.jsプロジェクトの展開" },
            code: { $heading: "コード" },
            testing: { $heading: "テスティング" }
          };

          return localizedStrings;

        })()
      );
