include HelloWorldTutorialPage.toc.pug


-

  localizedRouting.tutorials.$children.helloWorld.$sectioning =

      generatePageTableOfContents(
        (() => {

          /* [ Maintainability ] Keep this constant to make able the copying of qualified names in IntelliJ IDEA IDEs. */
          const localizedStrings = {
            preRequirements: { $heading: "Требуемые знания и навыки" },
            projectRollout: { $heading: "Развёртывание Node.js-проекта" },
            code: { $heading: "Код" },
            testing: { $heading: "Тестирование" }
          };

          return localizedStrings;

        })()
      );
