include HelloWorldTutorialPage.toc.pug


-

  localizedRouting.tutorials.$children.helloWorld.$sectioning =

      generatePageTableOfContents(
        (() => {

          /* [ Maintainability ] Keep this constant to make able the copying of qualified names in IntelliJ IDEA IDEs. */
          const localizedStrings = {
            preRequirements: { $heading: "Pre-requirement Knowledge and Skills" },
            projectRollout: { $heading: "Node.js-project Rollout" },
            code: { $heading: "Code" },
            testing: { $heading: "Testing" }
          };

          return localizedStrings;

        })()
      );
