mixin Header

  header.Header

    +HamburgerMenuButton.Header-Icon

    +DummyLogo({
      iconTextContent: "Pseudonym",
      heading: "CRM application example",
      subheading: "No useless slogans required"
    }).HeaderWithNavigationMenu-Logo
