mixin ThisPageHasNotBeenCheckedByNativeSpeakersYetWarning

  +AdmonitionBlock--YDF({
    title: "日本語の母語話者により校閲必要",
    SVG_Icon: true,
    decorativeVariation: AdmonitionBlock__YDF.DecorativeVariations.warning
  }).
    恐れ入りますが、当ページは未だ日本語の母語話者に依り校閲されていません。
    （※自動翻訳は利用されませんでした）
