-

  const routingJapaneseLocalization = {

    fileNameLocalizationExtension: "japanese",

    top: {
      $heading: "トップ",
      $URI: "@All/Top/TopPage.japanese"
    },

    tutorials: {
      $heading: "授業",
      helloWorld: { $heading: "初手の例の「ハロー・ワールド」" },
      HTTPS: { $heading: "HTTPS利用" },
      routingAndControllers: { $heading: "ルーティング・コントローラー" },
      routePathParameters: { $heading: "ルートパスパラメータ" },
      routeQueryParameters: { $heading: "ルート食えりパラメータ" },
      dotEnvConfiguration: { $heading: "DotEnvコンフィグレーション" },
      consoleLineInterfaceConfiguration: { $heading: "コンソール・ライン・インターフェース・コンフィグレーション" }
    },

    API: {
      Server: { $heading: "「<code>Server</code>」クラス" }
    }

  };
