-

  const routingJapaneseLocalization = {

    fileNameLocalizationExtension: "japanese",

    top: {
      $tableOfContentsTitle: "トップ",
      $URI: "@All/Top/TopPage.japanese"
    },

    tutorials: {
      $tableOfContentsTitle: "授業",
      helloWorld: { $tableOfContentsTitle: "初手の例の「ハロー・ワールド」" },
      HTTPS: { $tableOfContentsTitle: "HTTPS利用" },
      routingAndControllers: { $tableOfContentsTitle: "ルーティング・コントローラー" },
    },

    API: {
      Server: { $tableOfContentsTitle: "<code>Server</code>クラス" }
    }

  };
