extends ../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/Minimal/MinimalLayout.pug


block append Requirements

  include ../../SharedAssets/Markup/SharedAssets.english.pug
  include ../../SharedComponents/SharedComponents.english.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: buildHTML_PageTitle("Top Page"),
        description:
          "The Node.js framework \"Yamato Daiwa Backend\" (abbreviation: \"YDB\") for server development combines " +
            "the laconic API, high-quality TypeScript typing and OOP approach, herewith does not impose the specific " +
            "architecture and file structure."
      },
      stylesSheetsURIs: [
        "$CommonStyles",
        "$LayoutsStyles/Minimal/MinimalLayout.css",
        "$PreMadesStyles",
        "@CustomizedExternalComponents",
        "@Pages/Top/TopPage"
      ]
    });

    RoutingEmulator.setCurrentRoute("top");

    LanguageDropDownList__YDF_DK.setLinks({
      japanese: "./Top/TopPage.japanese.html",
      russian: "./Top/TopPage.russian.html"
    });


block append HeadScripts

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  main.TopPage

    .TopPage-ImageAndTopHeadingGroup

      img.TopPage-ImageAndTopHeadingGroup-Image(
        src="@Shared/Icons/YDB_Icon.svg"
        alt="The icon of Yamato Daiwa Backend framework"
      )

      h1.TopPage-ImageAndTopHeadingGroup-Heading
        span.TopPage-ImageAndTopHeadingGroup-Heading-FirstLine Yamato Daiwa
        span.TopPage-ImageAndTopHeadingGroup-Heading-SecondLine Backend

    p.TopPage-ShortDescription-Heading.
      The framework for high-quality server-side development in TypeScript

    +AdmonitionBlock--YDF({
      decorativeVariation: AdmonitionBlock__YDF.DecorativeVariations.warning,
      SVG_Icon: true
    }).TopPage-Disclaimer.
      This documentation site is under development.
      Please understand that high-quality documentation requires more time than library development,
        and the top priority of framework development is new functionality.

    +CompactTableOfContents--YDF_DK(localizedRouting).TopPage-TableOfContents
