extends ../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/Minimal/MinimalLayout.pug


block append Requirements

  include ../../SharedAssets/Markup/SharedAssets.russian.pug
  include ../../SharedComponents/SharedComponents.russian.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: buildHTML_PageTitle("Главная страница"),
        description:
            "Node.js-фреймворк «Yamato Daiwa Backend» (сокращённо: «YDB») для серверной разработки сочетает в себе " +
              "лаконичность API, качественную TypeScript-типизацию и объектно-ориентированный подход, при этом " +
              "не навязывает конкретной архитектуры и файловой структуры."
      },
      stylesSheetsURIs: [
        "$CommonStyles",
        "$LayoutsStyles/Minimal/MinimalLayout.css",
        "$PreMadesStyles",
        "@CustomizedExternalComponents",
        "@Pages/Top/TopPage"
      ]
    });

    RoutingEmulator.setCurrentRoute("top");

    LanguageDropDownList__YDF_DK.setLinks({
      english: routing.english.top.$URI,
      japanese: routing.japanese.top.$URI,
    });


block append HeadScripts

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  main.TopPage

    .TopPage-ImageAndTopHeadingGroup

      img.TopPage-ImageAndTopHeadingGroup-Image(
        src="@Shared/Icons/YDB_Icon.svg"
        alt="Иконка фреймворка «Yamato Daiwa Backend»"
      )

      h1.TopPage-ImageAndTopHeadingGroup-Heading
        span.TopPage-ImageAndTopHeadingGroup-Heading-FirstLine Yamato Daiwa
        span.TopPage-ImageAndTopHeadingGroup-Heading-SecondLine Backend

    p.TopPage-ShortDescription-Heading.
      Фреймворк для высококачественной серверной разработки на языке TypeScript

    +AdmonitionBlock--YDF({
      decorativeVariation: AdmonitionBlock__YDF.DecorativeVariations.warning,
      SVG_Icon: true
    }).TopPage-Disclaimer.

      Сайт документации находится на стадии разработки разработки.
      Просим Вас понять, что качественное документирование требует больше времени, чем разработка, а библиотека
        нуждается в новой функциональности, а потому разработка новой функциональности будет осуществляться с большим
        приоритетом.

    +CompactTableOfContents--YDF_DK(localizedRouting).TopPage-TableOfContents
