.Header

  display flex
  align-items center

  padding 10px 18px

  background: MaterialDesignColors.grey.P700


  &-MenuButton

    flex-shrink 0


  &-Logo

    font-size 18px

    margin-left 12px
