mixin Header

  header.Header

    +HamburgerMenuButton--YDF.Header-Icon

    +DummyLogoLink--YDF({
      iconTextContent: "Name",
      heading: "Application example",
      subheading: "No time for useless slogans - let's go!"
    }).Header-Logo
