mixin NavigationMenu

  nav.NavigationMenu
    ul
      li
        a.NavigationMenu-Link(
          href="#"
        ) Products list
      li
        a.NavigationMenu-Link(
          href="#"
        ) Statistics
