.MainLayout

  WIDE_SCREENS_CONFIGURATION_MINIMAL_WIDTH = 500px

  WideScreensConfiguration()
    @media screen and (min-width: WIDE_SCREENS_CONFIGURATION_MINIMAL_WIDTH)
      {block}

  NarrowScreensConfiguration()
    @media screen and (max-width: WIDE_SCREENS_CONFIGURATION_MINIMAL_WIDTH - 1)
      {block}


  display grid
  grid-template-areas\
      "UPPER_FIXED_CONTENT_SLOT UPPER_FIXED_CONTENT_SLOT"\
      "SIDEBAR MAIN_CONTENT"

  height 100%

  background TemporaryHighlighting.red.o10

  position relative


  +WideScreensConfiguration()

    grid-template-rows auto minmax(0, 1fr)


  +NarrowScreensConfiguration()

    grid-template-rows 0 minmax(0, 1fr)


  &-UpperFixedContentSlot

    background TemporaryHighlighting.orange.o25

    grid-area UPPER_FIXED_CONTENT_SLOT


  &-Sidebar

    background TemporaryHighlighting.yellow.o25

    grid-area SIDEBAR


  &-DynamicContent

    background TemporaryHighlighting.green.o10

    overflow-y hidden


  &-DrawerOverlay

    position fixed

    top 0
    bottom 0
    left 0
    right 0
    z-index ZIndexes.drawers

    background rgba(black, 0.25)


  &-Drawer

    width 0.8*NARROWEST_SCREEN_WIDTH_UNIT
    height 100%

    background ShadesOfGray__39ColorsW3C_Palette[8]
    box-shadow 0 4px 8px 4px rgba(black, 0.25)
