include HTTPS_TutorialPage.toc.pug


-

  localizedRouting.tutorials.$children.HTTPS.$sectioning =

      generatePageTableOfContents(
        (() => {

          /* [ Maintainability ] Keep this constant to make able the copying of qualified names in IntelliJ IDEA IDEs. */
          const localizedStrings = {
            theory: { $heading: "Theory" },
            SLL_KeyAndCertificateIssue: { $heading: "SSL Certificate and Private Key Issuing" },
            code: { $heading: "Application Code" },
            testing: { $heading: "Testing" }
          };

          return localizedStrings;

        })()
      );
