.SearchBox

  include ../../../../Markup/SVG_Icons/SVG_Icons.pug

  input.SearchBox-InputElement(
    type="text"
    v-model="inputtedSearchRequest"
    :placeholder="inputPlaceholder"
    :disabled="disabled"
    :class="{ 'SearchBox__DisabledState': disabled }"
    @keyup.enter="onClickEnterKey"
    :ref="INPUT_ELEMENT_VUE_REFERENCE_ID"
    :aria-label="inputElementARIA_Label"
    :aria-labelledby="externalLabelHTML_ID"
  )

  Button.SearchBox-Button(
    :disabled="isResetRequestButtonDisabled"
    @click="onClickResetSearchButton"
    :hasPrependedSVG_Icon="true"
  )
    +MultiplicationSign--Icon.Button-PrependedSVG_Icon
    | リセット

  Button.SearchBox-Button(
    :disabled="disabled"
    @click="submitSearchRequest"
    :hasPrependedSVG_Icon="true"
    :ref="SUBMIT_SEARCH_REQUEST_BUTTON_VUE_REFERENCE_ID"
  )
    +MagnifyingGlass--Icon.Button-PrependedSVG_Icon
    | 検索

  .SearchBox-Tooltip(
    v-if="isTooltipDisplaying"
  ) 検索するには#[span.SearchBox-Tooltip-AccentedText 最少{{ minimalRequiredSymbolsForSearchRequest }}文字]を入力して下さい。
