extends ../../Components/SharedSingletons/Layouts/Main/MainLayout.pug


block append Metadata

  -

    HTML_PAGE_TITLE = "Top";
    styleSheetsURIs = [ "@AllStylesForStaticPreview" ]


block Requirements

  include ../_CommonRequirements/CommonRequirements.pug
  include ../../Components/PagesAndRelated/Top/TopPageContent.pug
