include HelloWorldTutorialPage.toc.pug


-

  localizedRouting.tutorials.$children.helloWorld.$sectioning = generatePageTableOfContents({
    preRequirements: { $heading: "Требуемые знания и навыки" },
    projectRollout: { $heading: "Развёртывание Node.js-проекта" },
    code: { $heading: "Код" },
    testing: { $heading: "Тестирование" }
  });
