include ../../../../../../node_modules/@yamato-daiwa/frontend/Components.pug

include MockData.pug

//include ../../Components/SharedReusable/Cards/Product/ProductCard.pug
//include ../../Components/SharedReusable/Cards/Category/CategoryCard.pug
include ../../Components/SharedReusable/Controls/SearchBox/SearchBox.pug
include ../../Components/SharedReusable/NavigationMenu/NavigationMenu.pug
include ../../Components/SharedReusable/Controls/Managers/CategoriesManager/CategoriesManager.pug
//include ../../Components/SharedReusable/Managers/ProductsManager/ProductsManager.pug

include ../../Components/SharedSingletons/Header/Header.pug
