-
  const mockProductsCategories = [
    {
      ID: Math.random(),
      name: "Soups"
    },
    {
      ID: Math.random(),
      name: "Salads"
    },
    {
      ID: Math.random(),
      name: textOverflowSafetyTest
    },
    {
      ID: Math.random(),
      name: "Drinks"
    },
    {
      ID: Math.random(),
      name: "Sushi"
    },
    {
      ID: Math.random(),
      name: "Hamburgers"
    }
  ]

  const mockProducts = [
    {
      ID: Math.random(),
      title: "Minestrone",
      price: 800,
      category: mockProductsCategories[0]
    },
    {
      ID: Math.random(),
      title: "Caesar",
      price: 500,
      category: mockProductsCategories[1]
    }
  ]
