-

  const DependenciesVersions = {
    "@yamato-daiwa/backend": "0.3.0",
    "@yamato-daiwa/es-extensions": "1.7.0",
    "ts-node": "10.9.2",
    typescript: "5.5.4"
  }

  const dependenciesInstalationConsoleCommand = `npm i ` +
      `@yamato-daiwa/backend@${ DependenciesVersions["@yamato-daiwa/backend"] } ` +
      `@yamato-daiwa/es-extensions@${ DependenciesVersions["@yamato-daiwa/es-extensions"] }`;
