extends ../../../../../node_modules/@yamato-daiwa/frontend/PagesTemplates/StaticPreviewAnywherePage.pug


block append Metadata

  -
    HTML_PAGE_LANGUAGE = "en";
    HTML_PAGE_TITLE = "Example application　static preview";


block append TableOfContents

  h1.AnywherePage-TopHeading= HTML_PAGE_TITLE

  +PageLinksGroup({
    title: "Top page",
    linksData: [
      { label: "Normal displaying", URI: "Top/TopPage.html" },
      { label: "Loading", URI: "Top/TopPage-Loading.html" },
      { label: "Error", URI: "Top/TopPage-Error.html" },
      { label: "No categories", URI: "Top/TopPage-NoCategories.html" }
    ],
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.improvementInProgress
  })
