include Server.toc.pug


-

  localizedRouting.API.$children.Server.$sectioning =

      generatePageTableOfContents(
        (() => {

          /* [ Maintainability ] Keep this constant to make able the copying of qualified names in IntelliJ IDEA IDEs. */
          const localizedStrings = {
            publicStaticMethods: { $heading: "Public Static Methods" },
            publicInstanceMethods: { $heading: "Public Instance Methods" },
            relatedTypes: { $heading: "Related Types" }
          };

          return localizedStrings;

        })()
      );
