include Server.toc.pug


-

  localizedRouting.API.$children.Server.$sectioning = generatePageTableOfContents({
    publicStaticMethods: {
      $heading: "パブリック静的メソッド",
      initializeAndStart: {
        parameter: { $heading: "単一引数" }
      }
    },
    relatedTypes: {
      $heading: "関連型"
    }
  });
