-

  const routingRussianLocalization = {

    fileNameLocalizationExtension: "russian",

    top: {
      $tableOfContentsTitle: "Главная",
      $URI: "@All/Top/TopPage.russian"
    },

    tutorials: {
      $tableOfContentsTitle: "Уроки",
      helloWorld: { $tableOfContentsTitle: "Простейший пример «Привет, мир!»" },
      HTTPS: { $tableOfContentsTitle: "Использование HTTPS" },
      routingAndControllers: { $tableOfContentsTitle: "Маршрутизация и контроллеры" },
    },

    API: {
      Server: { $tableOfContentsTitle: "Класс <code>Server</code>" }
    }

  };
