-

  function generateLocalizedRouting(localization) {

    const localizedRouting = {

      top: {
        $tableOfContentsTitle: localization.top.$tableOfContentsTitle,
        $URI: localization.top.$URI
      },

      tutorials: {

        $tableOfContentsTitle: localization.tutorials.$tableOfContentsTitle,

        $children: {

          helloWorld: {
            $tableOfContentsTitle: localization.tutorials.helloWorld.$tableOfContentsTitle,
            $URI: `@All/Tutorials/00-HelloWorld/HelloWorldTutorialPage.${ localization.fileNameLocalizationExtension }`
          },

          routingAndControllers: {
            $tableOfContentsTitle: localization.tutorials.routingAndControllers.$tableOfContentsTitle,
            $URI: `@All/Tutorials/RoutingAndControllers/RoutingAndControllers.${ localization.fileNameLocalizationExtension }`
          }

        }

      },

      API: {

        $tableOfContentsTitle: "API",

        $children: {

          Server: {
            $tableOfContentsTitle: localization.API.Server.$tableOfContentsTitle,
            $URI: `@All/API/Server/Server.${ localization.fileNameLocalizationExtension }`
          }

        }
      }

    };

    return localizedRouting;

  }
