-

  function generateSharedExternalLinks(localization) {

    /* [ Methodology ] Keep this variable to easily copy the qualified name by IntelliJ IDEA IDEs functionality. */
    const sharedExternalLinks = {

    };

    return sharedExternalLinks;

  }
