-

  function generateLocalizedRouting(localization) {

    const localizedRouting = {

      top: {
        $tableOfContentsTitle: "Главная",
        $URI: "@All/Top/TopPage.russian.pug"
      },

      API: {
        $tableOfContentsTitle: "API",
        $children: {

          Server: {

            $tableOfContentsTitle: "Класс &laquo;Server&raquo;",
            $URI: "@All/API/Server/Server.russian",

            $sectioning: {

              associatedTypes: {

                $tableOfContentsTitle: "Связанные типы",
                $anchor: "ASSOCIATED_TYPES--SECTION",
                get $URI() { return `${ localizedRouting.API.$children.Server.$URI }#${ this.$anchor }`; },

                $children: {

                  RawConfig: {

                    $tableOfContentsTitle: "<code>RawConfig</code>",
                    $anchor: "RAW_CONFIG--SECTION",
                    get $URI() { return `${ localizedRouting.API.$children.Server.$URI }#${ this.$anchor }`; },

                  }

                }

              }

            }

          }

        }
      },

      tutorials: {
        $tableOfContentsTitle: "Уроки",
        $children: {

          helloWorld: {
            $tableOfContentsTitle: "Простейший пример &laquo;Привет, мир!&raquo;",
            $URI: "@All/Tutorials/HelloWorld/HelloWorldTutorialPage.russian"
          },

          HTTPS: {
            $tableOfContentsTitle: "Использование &laquo;HTTPS&raquo;",
            $URI: "@All/Tutorials/HTTPS/HTTPS.russian"
          }

        }
      }

    };

    return localizedRouting;

  }
