include _HTML_PageMetadata.pug
include _generateLocalizedRouting.pug
include _generateSharedExternalLinks.pug

include Localizations/Russian/RoutingLocalization.russian.pug
include Localizations/Russian/SharedExternalLinksLocalization.russian.pug

include ThirdPartyEmbeddableScripts/GoogleAnalyticsScript.pug


-

  const localizedRouting = generateLocalizedRouting(routingRussianLocalization);
  let generatePageTableOfContents;


include ../../Pages/API/Server/TableOfContents/Server.toc.russian.pug
include ../../Pages/Tutorials/HelloWorld/TableOfContents/HelloWorldTutorialPage.toc.russian.pug


-

  generatePageTableOfContents = null;

  RoutingEmulator.initialize(localizedRouting);

  const sharedExternalLinks = generateSharedExternalLinks(sharedExternalLinksRussianLocalization);
