include _HTML_PageMetadata.pug
include _generateLocalizedRouting.pug
include _generateSharedExternalLinks.pug

include Localizations/Japanese/RoutingLocalization.japanese.pug
include Localizations/Japanese/SharedExternalLinksLocalization.japanese.pug
include Localizations/Japanese/ReusableFragments.japanese.pug

include ThirdPartyEmbeddableScripts/GoogleAnalyticsScript.pug


-

  const localizedRouting = generateLocalizedRouting(routingJapaneseLocalization);
  let generatePageTableOfContents;


include ../../Pages/API/Server/TableOfContents/Server.toc.japanese.pug
include ../../Pages/Tutorials/00-HelloWorld/TableOfContents/HelloWorldTutorialPage.toc.japanese.pug


-

  generatePageTableOfContents = null;

  RoutingEmulator.initialize(localizedRouting);

  const sharedExternalLinks = generateSharedExternalLinks(sharedExternalLinksJapaneseLocalization);
