mixin ThisPageHasNotBeenCheckedByNativeSpeakersYetWarning

  +AdmonitionBlock--YDF({
    title: "Review by English Native Speakers Is Required",
    SVG_Icon: true,
    decorativeVariation: AdmonitionBlock__YDF.DecorativeVariations.warning
  }).
    This page has not been edited by the English native speakers yet.
    We are sorry for the non-perfect English language.
