-

  const routingEnglishLocalization = {

    fileNameLocalizationExtension: "english",

    top: {
      $tableOfContentsTitle: "Top",
      $URI: "@All/index"
    },

    tutorials: {
      $tableOfContentsTitle: "Tutorials",
      helloWorld: { $tableOfContentsTitle: "\"Hello, world\" — The Minimal Example" },
      HTTPS: { $tableOfContentsTitle: "HTTPS Usage" },
      routingAndControllers: { $tableOfContentsTitle: "Routing and Controllers" }
    },

    API: {
      Server: { $tableOfContentsTitle: "<code>Server</code> Class" }
    }

  };
