-

  const DependenciesVersions = {
    "@yamato-daiwa/backend": "0.2.0",
    "@yamato-daiwa/es-extensions": "1.6.11",
    "ts-node": "10.9.2",
    typescript: "5.4.5"
  }

  const dependenciesInstalationConsoleCommand = `npm i ` +
      `@yamato-daiwa/backend@${ DependenciesVersions["@yamato-daiwa/backend"] } ` +
      `@yamato-daiwa/es-extensions@${ DependenciesVersions["@yamato-daiwa/es-extensions"] }`;
